html {
	height: 100%;
	width: 100%;
}

body {
  background: lightyellow;
  color: black;
  font-family: serif;
  margin: 1em;
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 36px;
  color: darkred;
  margin: 10px;
}

h2 {
  color: navy;
  margin: 10px;
  font-weight: normal;
  text-decoration: underline;
}

.home-link {
  font-weight:bold;
  text-decoration: none;
}

#headline {
  max-width: 700px;
  margin: auto;
}

.footer {
  padding-bottom: 1em;
  font-size: 18px;
  font-style: normal;
}