body {
  font-size: 20px;
  font-style: italic;
  text-align: justify;
  text-align-last: center;
  line-height: 1.4;
}

#document {
  margin: 15px auto;
  border-style: solid;
  padding: 1em 2em;
  border-color: #edbd4e;
  border-width: 1em;
  max-width: 800px;
  display: block;
}

#title {
  font-style: normal;
  font-weight: normal; 
  text-decoration: underline;
  color: black;
}

#list {
  margin: 0 80px;
}

#first-line {
  font-size: 28px;
  margin: 0;
  font-family: "Brush Script MT", serif;
}

#date {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  font-family: "Brush Script MT", serif;
}